a {
  font-family: 'B612', sans-serif;
  font-size: 50px;
  color: #4d4d4d;
  padding:5px;
  left: 10px;
  top: 10px;
  position: absolute;
}

body {
    text-align: center;
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(240, 235, 204);
    z-index: 10;
}

.toolbar {
  padding: 5px;
  left: 10px;
  top: 80px;
  position: absolute;
}

#dropdownToolButton {
  background-color: #054482;
  width: 50px;
  opacity: 0.5;
}

.resize-drag {
    width: 25%;
    min-height: 20%;
    margin: 1rem 0 0 1rem;
    position: absolute;
    color: white;
    border-radius: 0.75em;
    border: solid black 2px;

    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    box-sizing: border-box;
}

textarea {
    margin: 0;
    width: 90%;
    height: 80%;
    border: #29e;
    border-radius: 0.75em;
    resize: none;
}

#delete, #change {
  opacity: 0;
}

#delete:hover, #change:hover {
  opacity: 1;
}

a:hover {
  color: #9bc4ac;
  text-decoration: none;
}

textarea:focus {
    outline: 0;
}
.drag-area {
    height: 100%;
}
