body {
    text-align: center;
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: rgb(255, 255, 255);
    z-index: 10;
}

.resize-drag {
    width: 25%;
    min-height: 12em;
    margin: 1rem 0 0 1rem;
    position: absolute;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;

    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    box-sizing: border-box;
}

textarea {
    margin: 0;
    width: 90%;
    height: 80%;
    background-color: #29e;
    border: #29e;
    border-radius: 0.75em;
    resize: none;

}
textarea:focus {
    outline: 0;
}
.drag-area {
    height: 100%;
}
div > button {
    position: center;
    bottom: 10px;
}